/* new default */
:root {
    --orange-color: #ff692f;
    --transition: .1s all linear;
}

/* style */
main {
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #21202073;
    z-index: 1;
}

main > .container {
    z-index: 10;
    position: relative;
}

.bu_tap-title {
    text-decoration: none !important;
    border-bottom-width: 0px !important;
    transition: var(--transition);
}

.bu_tap-title:hover,
.bu_tap-title.active {
    border-bottom-width: 10px !important;
}

form {
    position: relative;
}

form [type="submit"] {
    height: 38px;
    line-height: 1;
    background-color: var(--orange-color);
}

form input {
    padding-left: 32px !important;
}

.bu_icon {
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
}

.bu_icon.custom-svg {
    margin-top: 11px;
    margin-left: 11px;
}

.bu_icon svg {
    width: 24px !important;
    height: 24px !important;
}

/* api data container */
#bu_show-data {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 100%;
}

#bu_show-data ul {
    display: none;
    overflow-y: auto;
    max-height: 200px;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    background-color: white;
    border-radius: 3px;
}

#bu_show-data > .active {
    display: block;
}

#bu_show-data li {
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    transition: var(--transition);
}

#bu_show-data li:nth-child(odd) {
    background-color: #eee;
}

#bu_show-data li:hover {
    background-color: #ddd;
}

/* media */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    form [type="submit"] {
        padding: 0;
    }
}